version: '3.8'

services:
  web:
    build: ./online-store-api
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - ./DjangoAPI/:/usr/src/app/
    ports:
      - 8000:8000
  db:
    image: postgres:14.1-alpine
    restart: always
    environment:
      - POSTGRES_NAME=postgres
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    ports:
      - '5432:5432'
    volumes: 
      - db:/var/lib/postgresql/data
volumes:
  db:
    driver: local